#main {
  display: -webkit-flex; /* Safari */
  display: flex;
}

#toolbar {
  width: 10px;
  height: 100vh-50px;
  background: beige;
  flex: 1;
}

#toolbar div {
  margin: 10px;
}

#toolbar .toolbar-user {
  margin-top: 20px;
}

#toolbar .toolbar-ad {
  margin-top: 40px;
}

#ad {
  /*background: green;*/
  display: inline-block;
  padding: 15px;
  flex: 4;
}

#ad #ad-header {
  /*background: blue;*/
}

#ad #ad-list {
  width: 100vw;
  /*background: red;*/
  width: 500px;
}

#ad .ad-row {
  margin: 15px 0;
  /*background: red;*/
}

#ad .ad-one-row {
  /*background: purple;*/
}

#ad .ad-subrow {
  padding: 0 15px 0 0;
  display: inline-block;
  /*background: yellow;*/
}

#ad .ad-width {
  padding: 0;
  width: 70px;
}

#ad h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

#ad #ad-list img {
  float: left;
  margin: 0 15px 0 0;
  width: 100px;
  height: 100px;
}

#ad #ad-list p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#ad #ad-list div {
  margin-bottom: 5px;
  padding: 10px;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid black;
  /*background: blue;*/
}

#ad #ad-list p {
  margin: 5px;
}

#ad #ad-list div:hover {
  background: #eee;
  cursor: pointer;
}
