<% include header.html %>

  <header class="masthead"></header>
  <div class="container"></div>
  </div>
  </header>

  <div class="container">
    <div id="main">
      <% include toolbar.html %>

        <div id="ad">
          <div id="ad-header">
            <h2>
              <%= titleList %>
            </h2>
          </div>

          <div id="ad-list">
            <% adsList.forEach(ad => { %>
              <div>
                <img src="<%= ad.ruta %>" alt="Foto de <%= ad.nombre%>">
                <h3>
                  <%= ad.nombre %>
                </h3>

                <p>
                  <%=ad.precio %> euros</p>

                <% if(ad.venta === true){ %>
                  <p>Venta</p>
                  <% } else{ %>
                    <p>Compra</p>
                    <% } %>

                      <p>
                        <% for(var i=0; i<ad.tags.length; i++) { %>
                          <%=ad.tags[i]%>
                            <% if(i < ad.tags.length-1) { %>,
                              <% } %>
                                <% }%>
                      </p>
              </div>
              <% })%>
          </div>
        </div>
    </div>
  </div>

  <% include footer.html %>