<% include header.html %>

  <header class="masthead"></header>
  <div class="container"></div>
  </div>
  </header>

  <div class="container">
    <div id="main">
      <% include toolbar.html %>

        <div id="ad">
          <div id="ad-header">
            <% if (adsList.length === 0) { %>
              <h2>Lista Vacía</h2>
              <%} else {%>
                <h2>Lista</h2>
                <%}%>
          </div>


          <div id="ad-list">
            <% adsList.forEach(ad => { %>
              <div>
                <img src="<%= ad.ruta %>" alt="Foto de <%= ad.nombre%>">
                <!--<img src="/images/anuncios/<%= ad.foto %>" alt="Foto de <%= ad.nombre%>">-->
                <!--<% if(ad.precargado === true){ %>
                  <img src="/images/anuncios/<%= ad.foto %>" alt="Foto de <%= ad.nombre%>">
                  <% } else{
                      if(ad.thumbnail === ""){ %>
                    <img src="/images/uploads/<%= ad.foto %>" alt="Foto de <%= ad.nombre%>">
                    <% } else{ %>
                      <img src="/images/uploads/<%= ad.thumbnail %>" alt="Foto de <%= ad.nombre%>">
                      <% }} %>-->
                <h3>
                  <%= ad.nombre + "-" + ad.precargado + "-" + ad.thumbnail%>
                </h3>

                <p>
                  <%=ad.precio %> euros</p>

                <% if(ad.venta === true){ %>
                  <p>Venta</p>
                  <% } else{ %>
                    <p>Compra</p>
                    <% } %>

                      <p>
                        <% for(var i=0; i<ad.tags.length; i++) { %>
                          <%=ad.tags[i]%>
                            <% if(i < ad.tags.length-1) { %>,
                              <% } %>
                                <% }%>
                      </p>

              </div>
              <% })%>


          </div>
        </div>
    </div>
  </div>

  <% include footer.html %>