<% include header.html %>

  <section class="download text-center section-login" id="download">
    <div class="container container-login">
      <div class="row">
        <div class="col-md-8 mx-auto">

          <h2 class="section-heading">
            <%= __('Iniciar sesión') %>
          </h2>

          <p>
            <%= __('Por favor inicie sesión para acceder') %>
          </p>

          <form method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">
                <%= __('Dirección de correo electrónico') %>
              </label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="<%= __('Ingrese correo electrónico') %>"
                name="email" value="<%= email %>">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">
                <%= __('Contraseña') %>
              </label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="<%= __('Contraseña') %>" name="password">
            </div>
            <button type="submit" class="btn btn-primary">
              <%= __('Enviar') %>
            </button>
            <div class="error">
              <%= error %>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>

  <% include footer.html %>